eCom4jRemixDomain/src/xsd/category.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="productCategory">
       <xs:sequence>
         <xs:element type="xs:string" name="id"/>
         <xs:element type="xs:string" name="name"/>
       </xs:sequence>
     </xs:complexType>
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType name="category">
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="active"/>
              <xs:element name="path">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category" type="productCategory" maxOccurs="unbounded" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subCategories">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category" type="productCategory" maxOccurs="unbounded" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="currentPage"/>
      <xs:attribute type="xs:byte" name="totalPages"/>
      <xs:attribute type="xs:byte" name="from"/>
      <xs:attribute type="xs:byte" name="to"/>
      <xs:attribute type="xs:short" name="total"/>
      <xs:attribute type="xs:float" name="queryTime"/>
      <xs:attribute type="xs:float" name="totalTime"/>
      <xs:attribute type="xs:string" name="canonicalUrl"/>
      <xs:attribute type="xs:string" name="partial"/>
    </xs:complexType>
  </xs:element>
</xs:schema>