eCom4jRemixDomain/src/xsd/review.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="review" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:int" name="sku"/>
              <xs:element name="reviewer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="aboutMe"/>
              <xs:element type="xs:float" name="rating"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="comment"/>
              <xs:element type="xs:dateTime" name="submissionTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="currentPage"/>
      <xs:attribute type="xs:byte" name="totalPages"/>
      <xs:attribute type="xs:byte" name="from"/>
      <xs:attribute type="xs:byte" name="to"/>
      <xs:attribute type="xs:byte" name="total"/>
      <xs:attribute type="xs:float" name="queryTime"/>
      <xs:attribute type="xs:float" name="totalTime"/>
      <xs:attribute type="xs:string" name="canonicalUrl"/>
      <xs:attribute type="xs:string" name="partial"/>
    </xs:complexType>
  </xs:element>
</xs:schema>